body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding-bottom: 45px;
}

.page-header {
  text-align: center;
}

.jumbotron {
  text-align: center;
}

.btn {
  border: none !important;
  transition: background-color 0.1s ease;
  -webkit-transition: background-color 0.1s ease;
}

.btn:hover {
  border: none !important;
}

/*
 * The implementation of .directcode-navbar, using Flexbox.
 * Currently needs: Better responsiveness.
 */

.directcode-navbar {
  width: 100%;
  padding-bottom: 30px;
}

.directcode-navbar .container {
  margin-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid rgb(230,230,230);
}

.directcode-navbar > *,
.directcode-navbar > * > * {
  height: 100%;
}

.directcode-navbar nav {
  text-align: left;
  display: inline-block;
}

.directcode-navbar nav:not(.icons) {
  float: left;
  padding-top: 3px;
  overflow: hidden;
}

.directcode-navbar nav.icons {
  text-align: right;
  float: right;
}

.directcode-navbar li {
  transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
  display: inline-block;
  border-radius: 6px;
  margin-right: 7px;
  padding: 10px 16px;
}

.directcode-navbar li.title {
  margin-right: 35px;
  font-weight: 300;
  font-size: 20px;
}

.directcode-navbar nav.icons li {
  margin-right: 0;
}

.directcode-navbar nav:not(.icons) li:not(.title):hover {
  background-color: rgb(62,138,204);
}

.directcode-navbar nav:not(.icons) li:not(.title):hover a {
  color: white;
}

.directcode-navbar li:not(.title) a {
  color: rgb(115,115,115);
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  font-size: 16px;
  display: block;
}

.directcode-navbar .icons a {
  font-size: 24px !important;
}

.directcode-navbar li a:hover {
  text-decoration: none;
}

.directcode-navbar nav.icons li a {
  transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
}

.directcode-navbar nav.icons li a:hover {
  color: rgb(62,138,204);
}

.directcode-navbar li.title a {
  color: rgb(50,50,50);
}
