body {
   padding-top: 55px;
}

.page-header {
   text-align: center;
}

.jumbotron {
   text-align: center;
}

.stability {
   text-align: center;
}

footer {
   height: 36px;
   bottom: 0;
   position: fixed;
   width: 100%;
}

.learn-more-alert {
   text-align: center;
}