body {
    padding-top: 65px;
    padding-bottom: 45px;
}

.page-header {
    text-align: center;
}

.jumbotron {
    text-align: center;
}

.stability {
    text-align: center;
}

.learn-more-alert {
    text-align: center;
}